.footer-content
{
    background-color: hsl(150, 77%, 52%);
    height: 70px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: flex;
}

.footer-bottom{
    background-color: rgb(9, 241, 9);
    height: 50px;
    
}